<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <title>LAYOUT</title>
</head>
<body>
    <main class="main">

        <section class="contenedor-rojo">

             <header class="contenedor-morado">
                <nav>
                    <h1>Barra De Herramientas</h1> 
                </nav>
            </header>
            
            <section class="contenedor-celeste">
 
                <aside class="contenedor-verde">
                    <h1>Contenido Secundario</h1>
                </aside>

                <section class="contenedor-azul">

                    <nav class="contenedor-naranjo">
                        <h1>Sub Barra De Herramientas</h1>
                    </nav>
                    
                    <div class="contenedor-purpura">
                        <article>  
                          
                        </article>
                    </div>

                </section>

            </section> 
    </section>    
    </main>
</body>
</html>